/*form_test_02.css*/

#wrap {
  padding-top:12rem; box-sizing:border-box;
  width:100%; height:100%;
  background-image:url(../../img/form_bg.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;}

/*form {
  margin:auto;
  box-sizing:border-box; padding:30px 35px 0;
  width:450px; height:450px; 
  border-radius:6px; overflow:hidden;
  position:relative; z-index:100;
  background-color:rgba(0,0,0,0.5);}

form:after {
  content:" "; display: block;
  width: 100%; height: 100%;
  position:absolute; top:0; left:0; z-index:-100;
  background-image:url(../../img/form_bg.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  filter:blur(10px) opacity(0.8);}*/

form {
  margin:auto;
  box-sizing:border-box; padding:30px 35px 0;
  width:450px; height:450px; 
  border-radius:6px; overflow:hidden;
  background-image:url(../../img/form_bg_blur.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;}

fieldset {
  width:100%;}

.sign_in {
  position:relative;
  box-sizing:border-box; padding-top:60px;
  margin-bottom:40px; height:320px;}

.sign_in > legend {
  position:absolute; top:0; left:0;
  width:100%; height:30px;
  color:#fff; font-size:1.5rem; line-height:30px; text-align:center; text-transform:capitalize;}

.sign_in > div {
  margin-bottom:20px;
  width:100%;}

.member {height:40px;}
.password {height:40px;}
.sign_member {border-bottom:1px solid #fff;}
.sign_member > input {
  float: left;
  border:0;
  width:85%; height:100%;
  background-color:transparent;
  color:#fff; font-size:1.3rem;}
  input::placeholder {
  -webkit-color:#fff;
  -moz-color:#fff;
  -ms-color:#fff;
  -o-color:#fff;
  color:#fff;}

.sign_member > label {
  float:right;
  width:12%; height:100%;
  cursor:pointer;
  line-height:40px; font-size:1.3rem; text-align:right; color:#fff;}

.forgot_pw {height:20px;}
  .forgot_pw > a {color:#fff; text-decoration:underline; text-transform:capitalize;}
  .forgot_pw > a:hover,
  .forgot_pw > a:focus {
    -webkit-text-decoration-color:#fa0;
    -moz-text-decoration-color:#fa0;
    -ms-text-decoration-color:#fa0;
    -o-text-decoration-color:#fa0;
    text-decoration-color:#fa0;}

.sign_in_btn {height:60px;}
  #ok {
    width:100%; height:100%; background-color:#1787fb;
    color:#fff; text-transform:capitalize; font-size:1.5rem;
    border-radius:6px;}
  #ok:hover {background-color:#05f;}

.sign_in > .keep_sign {margin-bottom:0; height:20px;}

input#keepSign {display:none;}
input#keepSign:checked + label > i {color:#000;}

.keep_sign > label {color:#fff; cursor:pointer;}

.sign_up {position:relative; height:60px;}

.sign_up_link {
  width:230px; height:100%;
  color:#fff; font-size:1rem; line-height:60px;}

.sign_up_link > .spel {text-transform:capitalize;}

a.spel {
  text-decoration:underline;
  -webkit-text-decoration-color:#fff;
  -moz-text-decoration-color:#fff;
  -ms-text-decoration-color:#fff;
  -o-text-decoration-color:#fff;
  text-decoration-color:#fff;
  color:inherit;}

.more_sign_up {position:absolute; bottom:0; right:-35px;
  width:182px; height:100%;}

.more_sign_up > a {
  float:left; width:60px; height:100%; margin-right:1px;
  background-color:rgba(255,255,255,0.5);
  color:#fff; font-size:1.5rem; text-align:center; line-height:60px;}

.more_sign_up > a:focus,
.more_sign_up > a:hover {background-color:rgba(255,0,60,0.5);}

  .more_sign_up > a:last-of-type {
    margin-right:0;
    /*border-radius:0 0 6px 0;
    border-top-right-radius:6px;*/}