/*pantech_layout_01_m.css*/

.wrap          {width:100%; height:100%; background-color:#ccc;}
.area_wrap       {width:100%; height:auto;}


  .head_wrap     {position:fixed; top:0; left:0; z-index:100; background-color:rgba(50,100,100,0.7);}
  #headBox       {margin:auto; width:75rem; height:3.4375rem;}
  #headBox > h1 {float:left;
                 margin-left:8px; margin-top:10px;
                 width:104px; height:30px;
                 font-size:1.5rem;}
  #headBox > h1 > a {display:block; width:100%; height:100%;
                     color:#fff;}

  #headBox > .gnb_box {float:left; margin-left:109px;
                       width:781px; height:100%;}
  #headBox > .gnb_box > ul {box-sizing:border-box; padding-top:16px; padding-bottom:19px;
                            width:100%; height:100%;}
  #headBox > .gnb_box > ul > li {float:left; width:60px; height:auto;
                                 font-size:0.9rem; font-weight:bold; text-align:center;
                                 margin-right:120.25px;}
  #headBox > .gnb_box > ul > li:last-child {margin-right:0;}
  #headBox > .gnb_box > ul > li > a {display:block; width:100%; height:100%; color:#fff;}

  #headBox > .etc_box {float:left; margin-left:55px;
                       width:128px; height:100%;}
  #headBox > .etc_box > ul {box-sizing:border-box; border-left:1px solid #999; border-right:1px solid #999;
                            width:100%; height:100%;}
  #headBox > .etc_box > ul > li {float:left; box-sizing:border-box; padding-top:16px;
                                 border-right:1px solid #999;
                                 width:50%; height:100%;
                                 font-size:0.9rem; font-weight:bold; text-align:center;}
  #headBox > .etc_box > ul > li:last-child {border-right:0;}
  #headBox > .etc_box > ul > li > a {display:block; width:100%; height:100%; color:#fff;}

/*  #headBox > .etc_box > ul > li:last-child
    {width:35px; height:35px;
     background-image:url("../../img/icon_check.png");
     background-repeat:no-repeat;
     background-position:10px 10px;
     background-size:contain;}*/


  .ad_wrap       {height:100%;}
  #adBox         {position:relative; width:100%; height:100%; background-color:#2b5a8e;}
  #adBox > .p_box {position:absolute; top:197px; left:360px;
                   width:676px; height:97px; background-color:transparent; color:#fff;}
  #adBox > .p_box > h2 {font-size:3rem;}
  #adBox > .p_box > p {font-size:1.2rem;}
  #adBox > .ad_indicator {position:absolute; bottom:216px; left:50%; margin-left:-34.5px;
                       box-sizing:border-box; padding:2px;
                       width:69px; height:18px; background-color:transparent;}
  #adBox .indicator {float:left; margin-right:10px;
                     width:14px; height:14px; background-color:#fff;
                     border-radius:100%;}
  #adBox .indicator:last-child {margin-right:0;}
  #adBox .indicator > a {display:block; width:100%; height:100%; border-radius:100%;}
    /**  만약 .wrap영역이 body와 동일하게 처리하지 않을 경우
      *  #adBox의 높이를 브라우저의 높이와 동일하게 처리해야 한다면?
      *  js를 활용
         1. 브라우저의 높이 값 파악(margin, padding 값이 존재하는지에 따라 조금 다르다)
         var wh = $('window').innerHeight(); => 패딩값이 적용된 높이
         var wh = $('window').outerHeight(true); => 마진값이 적용된 높이
         2. #adBox에 파악된 높이값을 적용
    */


  .info_wrap     {position:absolute; left:0; bottom:0;
                 width:100%; height:auto; background-color:rgba(0,0,0,0.5);}
  #infoBox       {box-sizing:border-box; padding-left:8px; padding-right:10px; margin:auto;
                 width:75rem; height:9.375rem; background-color:transparent;}
  #infoBox > .title_box {box-sizing:border-box; padding-top:42px;
                         float:left; width:142px; height:100%;
                         border-right:1px solid #999;
                         color:#fff;}
  #infoBox > .text_box  {box-sizing:border-box; padding-top:42px; padding-left:33px;
                         float:left; width:731px; height:100%;
                         font-size:0.8rem; color:#fff;}
  #infoBox > .move {float:left; padding-top:22px; padding-left:12px; box-sizing:border-box; width:250px; height:100%;background-color:#999;}
  #infoBox a {display:block; width:100%; height:100%;}
  #infoBox a > span {font-size:0.8rem; color:#fff;}


  .business_wrap {width:100%; height:100%;
                  background-image:url("../../img/pantech_bg2.jpg");
                  /*background-repeat:no-repeat;*/
                  background-position:0 0;
                  /*background-size:100%;*/
                  background-size:cover;
                  background-attachment:fixed;}

  #businessBox   {position:relative;
                  box-sizing:border-box; padding-top:11.25rem; margin:auto;
                 width:75rem; height:100%; min-height:55.875rem; background-color:inherit;}
  #businessBox > h2 {box-sizing:border-box; padding-left:8px;
                     width:100%; height:20px; color:#fff;}
  #businessBox > .p_box {box-sizing:border-box; padding-left:8px;
                         width:100%; height:69px; font-size:0.8rem; color:#fff;} 
  #businessBox > .device_box {position:absolute; top:339px; left:338px;
                              width:700px; height:475px;}

  #businessBox .device01 {width:100%; height:146px; border-bottom:2px dashed #999;}
  #businessBox .device01 > div {float:left;
                                width:63px; height:105px; background-color:#fff;}
  #businessBox .device01 > dl {float:left; margin-left:35px; margin-top:8px;
                               width:554px; height:auto; color:#fff;}
  #businessBox .device01 > dl > dt {margin-bottom:20px; width:100%; height:28px; font-weight:bold;}
  #businessBox .device01 > dl > dd {width:100%; height:auto; font-size:0.8rem;}

  #businessBox .device02 {box-sizing:border-box; padding-top:43px; padding-bottom:41px;
                          width:100%; height:190px; border-bottom:2px dashed #999;}
  #businessBox .device02 > div {float:left;
                                width:68px; height:106px; background-color:#fff;}
  #businessBox .device02 > dl {float:left; margin-left:35px; margin-top:10px;
                               width:554px; height:auto; color:#fff;}
  #businessBox .device02 > dl > dt {margin-bottom:20px; width: 100%; height:28px; font-weight:bold;}
  #businessBox .device02 > dl > dd {width:100%; height:auto; font-size:0.8rem;}

  #businessBox .device03 {box-sizing:border-box; padding-top:53px;
                          width:100%; height:146px;}
  #businessBox .device03 > div {float:left; margin-top:3px;
                                width:77px; height:86px; background-color:#fff;}
  #businessBox .device03 > dl {float:left; margin-left:35px; margin-top:8px;
                               width:554px; height:auto; color:#fff;}
  #businessBox .device03 > dl > dt {margin-bottom:20px; width:100%; height:28px;  font-weight:bold;}
  #businessBox .device03 > dl > dd {width:100%; height:auto; font-size:0.8rem;}



  .about_side_wrap {width:100%; height:100%;
                    background-image:url("../../img/pantech_bg3.jpg");
                    background-position:0 0;
                    background-size:cover;
                    background-attachment:fixed;}

  #aboutBox      {position:relative; box-sizing:border-box; padding-top:98px; margin:auto;
                 width:75rem; height:85%; background-color:inherit;}
  #aboutBox > h2 {box-sizing:border-box; padding-left:8px;
                  width:100%; height:22px; color:#fff;}
  #aboutBox > .p_box {box-sizing:border-box; padding-left:8px;
                      width:100%; height:48px; font-size:0.8rem; color:#fff;}
  #aboutBox > .news_box {position:absolute; top:241px; left:96px;
                         width:1138px; height:325px;}
  #aboutBox li {float:left; margin-right:65px; width:336px; height:100%; background-color:#fff;}
  #aboutBox li:last-child {margin-right:0;}
  #aboutBox li > dl {box-sizing:border-box; padding:23px 17px 24px;}
  #aboutBox li dt {float: left; width:100%; height:34px; border-bottom:1px solid #000;
    font-weight:bold; font-size:1rem;}
  #aboutBox li dt > a {float:right; /*margin-left:170px; */font-size:0.8rem;}
  #aboutBox li .news_image {float:left; margin-top:16px; margin-bottom:15px;
                            width:100%; height:180px; background-color:#eee;}
  #aboutBox li .news_image > a {display:block; width:100%; height:100%;}
  #aboutBox li .news_link {float:left; padding-top:14px; width:100%; height:33px;
                           border-top:1px solid #ddd; color:#bbb; font-size:0.8rem;}
  #aboutBox li .news_link > a:hover {color:#1fae87;}


  #sideBox {margin:auto; width:100%; height:15%; background-color:rgba(255,255,255,0.9);}
  #sideBox > .side_menu {margin:auto; width:1200px; height:100%;}
  #sideBox > .side_menu > ul {width:100%; height:100%;}
  #sideBox > .side_menu > ul > li{float:left; box-sizing:border-box; padding:0.5rem;
                                  border-right:1px solid #999;
                                  width:240px; height:100%;}
  #sideBox > .side_menu > ul > li:last-child {border-right:0;}
  #sideBox > .side_menu > ul > li > a {display:block; width:100%; height:100%;}
  #sideBox > .side_menu > ul > li > a > dl {position:relative; width:100%; height:100%;}
  #sideBox > .side_menu > ul > li > a > dl > dt {position:absolute; bottom:1rem; left:0;
    width:100%; height:auto; transition:all 500ms ease;
    color:#0082a1; text-transform:uppercase; font-size:0.8rem; font-weight:bold; text-align:center;}

  #sideBox > .side_menu > ul > li > a > dl > dt > .img_sample
    {margin-bottom:1rem;
     display:block; width:100%; height:80px;
     background-image:url("../../img/icon_check.png");
     background-repeat:no-repeat;
     background-position:center;
     background-size:contain;}

    /*  img 태그를 사용했을 경우
    
    #sideBox > .side_menu > ul > li > a > dl > dt > .img_sample
    {display: block; width:100%; height: 100%; background-color:#fff;}
    #sideBox > .side_menu > ul > li > a > dl > dt > .img_sample >img
    {width:70%;}
    */

  #sideBox > .side_menu > ul > li > a > dl > dd
    {position:absolute; top:1rem; left:0;
     width:100%; height:auto; 
     color:#fff; font-size:0.8em; text-align:center; opacity:0;
     transition:all 500ms ease;}

  #sideBox > .side_menu li:hover {background-color:#0082a1;}
  #sideBox > .side_menu li:hover > a > dl > dt {color:#fff;}
  #sideBox > .side_menu li:hover > a > dl > dd {opacity:1;}

  #sideBox > .side_menu li:hover > a > dl > dt > .img_sample {opacity:0;}




  .foot_wrap     {border-top:1px solid #bbb; width:100%; height:auto; background-color:#fff;}
  #footBox       {margin:auto; box-sizing:border-box; padding-top:33px; width:75rem; height:6.875rem; background-color:inherit;}
  #footBox > h2 {float:left;margin-top:19px; width:104px; height:30px; background-color:#bbb;}
  #footBox > h2 > a {display: block; width: 100px; height: 100px;}
  #footBox > ul {float: right;width:673px; height: 20px;}
  #footBox li {height:100%; float:left; font-weight:bold; font-size:0.8rem; color:#555;}
  #footBox li > a {color:#555;}

  #footBox > .adress_box {float:right; margin-top:12px; width:673px; height:40px;}
  #footBox > .adress_box > p {text-align:right; font-size:0.75rem; color:#555;}


  .btn_top {position:fixed; bottom:80px; left:50%; margin-left:640px; width:40px; height:40px; background-color:#999; border-radius:100%;
    color:#fff;}