/* semantic_01.css */

/* #wrap ****************************** */
#wrap {margin:auto; box-sizing:border-box; padding:0.5rem; text-align:center;
  width:960px; width:60rem; height:auto; background-color: #f09;}


  /* #headBox ****************************** */
  #headBox {margin-bottom:0.5rem; padding:10px; padding:0.625rem; box-sizing:border-box;
    width:100%; height:150px; height:9.375rem; background-color:#0af;}
    #headBox > h1 {width:20%; height:100%; background-color:#9a5;}


  /* #gnb ****************************** */
  #gnb {width:100%; height:auto; background-color:#06a;}

    #gnb > ul{width:100%; height:50px; height:3.125rem; background-color:#fff;}
    #gnb > ul > li {/*margin-right:1.33333%;*/ 
      margin-right:calc(4% / 3); width:24%; height:100%; float:left; background-color: #faa;}
    #gnb > ul > li:last-child {margin-right: 0;}
    #gnb li > a {display:block; width:100%; height:100%;}


  /* #contentBox ****************************** */
  #contentBox {margin:0.5rem 0; box-sizing:border-box; padding:0.5rem;
    width:100%; height:auto; background-color:#fff;}

    /* .side_view ****************************** */
    .side_view {box-sizing:border-box; float:left; padding:0.5rem; width:40%; height:auto; background-color: #fa0;}

      .side_view > h3{margin-bottom: 1rem;width:100%; height:100px; height:6.25rem;background-color:#9a5;}
      .side_view > ul{width:100%; height:auto; background-color:#ccc;}
      .side_view > ul > li{margin-bottom:10px; margin-bottom: 0.625rem; width:100%; height:auto; background-color:#fff;border-bottom:10px solid #fa0; border-bottom:0.625rem solid #a60; font-size:14px;}
      .side_view > ul > li:last-child {margin-bottom: 0;}

      /* .side_view dt ****************************** */
      .side_view dl{width:100%; height:auto;}
      .side_view dl>dt{width:100%; height:auto; background-color:#555; color:#fff; font-size:1.1rem; font-weight:bold; text-decoration:uppercase; text-align:right;}
      .side_view dl>dd {width:100%; height:auto; background-color:#0af; font-size:0.9rem; text-align:right; border-bottom:1px solid #fff;}

    /* .content_view ****************************** */
    .content_view {float:left; width:60%; height:auto; background-color:transparent;}

    /* .content_view > h3 {width:0; height:0; font-size:0;} */
    /* .content_view > h3 {width:0; height:0; overflow:hidden;} */
    /* .content_view > h3 {width:0; height:0; text-indent:-9999rem; color:#334;} */
    .content_view > .con1 {width: 100%; height:140px; background-color: #aaf;}
    .content_view > .con1 > h4 {width:0; height:0; position:relative; z-index:-1;}
    .content_view > .con1 > div {padding: 10px; box-sizing:border-box; width: 100%;height: 140px; color:#fff;}
    .content_view > .con1 button:focus{outline: 3px solid #ff0;}
    .content_view > .con1 button{border: 0; color:#fff; cursor:pointer;}
    .content_view > .con1 button:nth-child(1) {width:50px;height:100%;background-color:#046;float: left;}
    .content_view > .con1 button:nth-child(2) {width:50px;height:100%; background-color:#046;float: right;}

    .content_view > section > h4 {width: 100%; height:50px; background-color:#000; color:#fff;}

    .content_view > section > .con {margin-bottom: 10px;width: 100%; height:145px;background-color: #9a5;}
    .content_view > section > .con:last-child {margin-bottom: 0;}
    
    .content_view > section > .con > ul {padding: 10px; float:left; box-sizing:border-box; width: 100%; height:100%; background-color:#af0;}
    .content_view > section > .con li {float:left; margin-right: 10px; width:124px; height: 100%; background-color:#fff;}
    .content_view > section > .con li:list-child {margin-right: 0;}


  /* #footBox ****************************** */
  #footBox {padding:10px; padding:0.625rem; box-sizing:border-box; width:100%; height:120px; height:7.5rem; background-color:#0af; }
    #footBox > h2 {float: left; width:20%; height:100%; background-color: #9a5;}
    #footBox > .f_box {margin-top:40px; width:79%; height:60px; height:3.75rem; float:right; background-color:#fff;}