// var.scss
$mob    : 480;
$tab    : 768;
$pc     : 1366;
$pcfull : 1920;

// color
$primary : #333;
$main    : #0af;
$point   : #f06;
$gray    : #ccc;
$white   : #fff;
$black   : #333;

// border
$basic : 1px solid $primary;
$bold  : 1rem solid $main;