@charset "UTF-8";
/* main.scss */
#wrap { width: 100%; height: 100%; background-color: #ccc; }

#headBox { margin: auto; width: 80%; height: 100px; background-color: #0af; }

/*

h1 {width:150px; height:100%; float:left;}
h1>a {display:block; width:100%; height:100%;}
h1>a>span {display: block; font-size:2rem; text-align:center; color:$white;}

*/
h1 { width: 150px; height: 100%; float: left; }

h1 > a { display: block; width: 100%; height: 100%; background-color: #333; }

h1 > a > span { font-size: 48px; font-size: 3rem; color: #fff; }

h1 > a:hover { background-color: rgba(255, 0, 102, 0.7); }

h1 > a:focus { background-color: rgba(255, 0, 102, 0.4); }

h1 > a:active { background-color: rgba(255, 0, 102, 0.1); }

#bannerBox { margin: auto; width: 70%; height: 500px; background-color: #ff99c2; }

.btn { display: block; width: 100%; height: 100%; background-image: url("../../../../b_01_layout/img/icon_check.pngicon_check.png"); background-repeat: no-repeat; background-position: 0 0; background-size: cover; }

.btn2 { display: block; width: 100%; height: 100%; background-image: url("../../../../b_01_layout/img/b.jpgicon_check.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

/*

  scss : css 편하게 쓸 수 있도록 도와준다
  @import ""; => (하나의 파일로 병합) : @import url(""); => (링크의 개념)
  $변수명:값; : 있긴 있음
  @mixin 이름(임의의 변수) => (여러 기능을 묶어서 처리) : 있긴 있지만 좀 그럼
  list, object, function, if... : 아직 없음!
  less, scss/sass, stylus, nextCss(postCSS)=>(이건 플러그인임)... 같은 게 있다

*/
