@font-face {
    font-family: 'Black Han Sans';
    src: url('hinted-BlackHanSans-Regular.eot');
    src: url('hinted-BlackHanSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('hinted-BlackHanSans-Regular.woff2') format('woff2'),
        url('hinted-BlackHanSans-Regular.woff') format('woff'),
        url('hinted-BlackHanSans-Regular.ttf') format('truetype'),
        url('hinted-BlackHanSans-Regular.svg#BlackHanSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}