/* monffee_media_1366.css */

@media screen and (min-width:1366px) {

  #adBox > .slide_btn {left:5%; width:90%;}

  #adBox > .cover {margin-right:2rem; width:470px; height:520px;}

  .issue_text > .banner_wrap > .banner_img > li > dl {
  /*width:84.210526vw;*/}

  .issue_icon {width:70.278184vw;/* 960 / 1366 * 100 */ min-width:960px;}

  .content_text {padding:140px 0 120px;}

  .meterial_icon {width:75.263157vw;/* 1430 / 1900 * 100 */}

  #location {width:87.368421vw;/* 1660 / 1900 * 100 */}

  .map {width:49.473684vw;/* 940 / 1900 * 100*/ }

  .addr {width:36.842105vw;/* 700 / 1900 * 100*/ }

  .foot_box_wrap {padding-top:5.124450vw;/* 70 / 1366 * 100 */ }

}