/* layout_03_test.css */

/* reset.css */
html, body {margin:0;}
h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}
ol, ul, li {margin:0; padding:0; list-style:none;}
a {text-decoration:none; color:inherit;}
.clearfix::after,
.clearfix:after {content:" "; display:block; width:100%; height:0; clear:both;}

/* design */
#wrap {width:960px; height:850px; text-align:center; background-color:#E4007F; margin:auto;}

#header {width:100%; height:100px; background-color:#00A0E9;}
.navi {width:100%; height:50px; background-color:#1D2088;}

#section {width:100%; height:580px; background-color:#fff;}
#header {width:100%; height:120px; background-color:#00A0E9;}